#titulos {


 font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 30px;
}

#navegacion{


  font-family: 'Times New Roman', Times, serif;
   text-align: center;
   margin-top: 5px;
 }
 body{

    background-color: white;

 }

 #background-form{
   background-color: beige;
   
 }

 #boton{

  margin-left: 37%;
 
 }
 #boton1{
   margin-left: 1%;
 }

